{% extends 'base.html' %}

{% block title %} Music Search {% endblock %}

{% block content %}
<form method='post' action="/recommender/bestp/">
    {% csrf_token %}
    <!-- begin bootstrap -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Test App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/recommender/curator/">Curator</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">Original</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    <!-- end bootstrap -->
    <br>
    <center>
        <h2>Music Search</h2>
    </center>
    <br>
    <div>
        Artist: {{ form.artist }}
    </div>
    <br>
    <div>
        From year: {{ form.from_year }}
    </div>
    <br>
    <div>
        To year: {{ form.to_year }}
    </div>
    <br>

    <button class="btn btn-primary btn-lg" type="submit">Submit</button>

</form>
<br>

{% if albums %}
<table class="table">
<tbody>
<tr>


{% for album in albums %}

<td>
<iframe src="https://open.spotify.com/embed/track/{{ album.id }}" width="300" height="380" 
frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</td>

{% endfor %}

</tr>
</tbody>
</table>

{% endif %}

{% endblock %}
